@tailwind base;
@tailwind components;
@tailwind utilities;

.active{
    @apply text-blue-700 bg-white;
}
/* @layer base {
    ul, ol {
      list-style: revert;
    }
  } */
/* body{
    margin: 0;
    padding: 0;
}
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
    border: 2px solid red;
}
.nav > ul{
    list-style-type: none;
    display: flex;
    gap: 20px;
    height: 100%;
}

.restaurantLists{
    display: flex;
    flex-wrap: wrap;
}

.restaurent-Card{
    width: 200px;
    border: 2px solid red;
    margin: 10px;
    padding: 10px;
}
.restaurent-Card > img{
    width: 100%;
}
.errorPage{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 80vh;   
}
.restaurantMenuImg{
    width: 200px;
} */